<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        
        <!-- properties -->
        <property name="hibernate.connection.driver_class"> com.mysql.jdbc.Driver </property>
        <property name="hibernate.connection.url"> jdbc:mysql://localhost:3306/peixaria </property>
        <property name="hibernate.dialect"> org.hibernate.dialect.MySQLDialect </property>
        <property name="hibernate.query.factory_class"> org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory </property>
        <property name="hibernate.hbm2ddl.auto"> create </property>
        <property name="hibernate.show_sql"> true </property>
        <property name="hibernate.format_sql"> true </property>
        <property name="hibernate.connection.username"> root </property>
        <property name="hibernate.connection.password"> root </property>
        <property name="hibernate.connection.pool_size"> 10 </property>
        
        <mapping class="domain.Alimento"/>
        <mapping class="domain.Especie"/>
        <mapping class="domain.Peixe"/>
        <mapping class="domain.Pesca"/>
        <mapping class="domain.Poco"/>
        <mapping class="domain.Racao"/>
        <mapping class="domain.Cardume"/>
    </session-factory>
</hibernate-configuration>
